* {
  background-color: #ebf0ec;
}

/* App header in Home.JS */
.App-header {
  background-color: #ebf0ec;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  text-align: left;
  color: black;
  font-family: 'Helvetica','sans-serif';
}

.App-header img {
  margin-left: 80px;
}

.App-header h1 {
  font-weight: bold;
  font-size: 100px;
}

.App-header h3 {
  font-weight: bold;
}

.App-header p {
  font-size: 20px;
  margin-right: 100px;
}

/* Content on Home.JS */
 .mainpage {
   margin-top: 40px;
 }

 /* Applied to all buttons on Home.JS */
.main-button {
  border: none;
  color: white;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border-color: black;
  color: black;
  margin-right: 20px;
}

/* Only for Resume Button */
.resume-btn {
  background-color: #eba834;
  transition: background-color 0.5s ease;
}

/* Resume Button when hovered  */
.resume-btn:hover {
  background-color: #facc7d;
}

/* Only for Projects Button */
.project-btn {
  background-color: #ed4c4c;
  transition: background-color 0.5s ease;
}

/* Projects Button when hovered */
.project-btn:hover {
  background-color: #f79797;
}

/* Only for Contact Button on home.js*/
.contact-btn {
  background-color: #72dbdb;
  transition: background-color 0.5s ease;
}

/* Contact Button when hovered */
.contact-btn:hover {
  background-color: #bbf0f0;
}

/* Projects Page */
.Projects h1 {
  margin-top: 150px;
  margin-left: 250px;
  margin-bottom: 50px;
}

/* Applied to the rows on the Projects Page */
.proj-row {
  margin-left: 250px;
}

.proj-row p {
  font-size: 20px;
  margin-bottom: 50px;
  margin-right: 80px;
}

.proj-row img {
  height: auto;
  width: 500px;
  margin-bottom: 70px;
  margin-right: 100px;
}
.App {
  background-color: whitesmoke;
}
/* navigation bar circle */
.roundedCircle1 {
  background: orange;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border: 1px solid orange;
  border-radius: 50%;
}
.font-weight-light {
  font-weight: lighter;
}
/* links active */
.active {
  font-weight: bolder;
}
/* links without text decoration */
.noTextDecorationOnly {
  text-decoration: none;
  color: black;
}
/* navigation bar links */
.noTextDecoration {
  text-decoration: none;
  margin: 18px 4px 4px 4px;
  font-size: 15px;
  color: grey;
  border-right: 0.5px solid black;
  padding: 4px;
}

/* submit button div in contact */
.submitDiv {
  padding-top: 1rem;
}
/* Contact component view */
.content {
  height: calc(100vh - 4rem);
}
/* input field in Contact Component */
input {
  background: whitesmoke;
}
/* textarea in Contact Component */
textarea {
  background: whitesmoke;
  width: 100%;
  height: 80%;
}
/* submit button */
button {
  background-color: orange;
  width: 8rem;
  height: 8rem;
  border: 1px solid black;
  padding: 0;
  text-align: center;
}
/* submit button on hover */
button:hover {
  background-color: white;
}
/* Footer component div */
.footer {
  font-size: smaller;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
/* footer a */
.footer a {
  color: black;
